<!DOCTYPE html>
<html lang="ru">
<head>

<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>bumagia.com.ua | Наборы для модульного оригами, наборы для квиллинга, головоломки-пазлы, цветная бумага</title>
<meta name="description" content="Производство и продажа наборов материалов для модульного (трехмерного) оригами, производство и продажа головоломок-пазлов, наборов бумажных лент для квиллинга. Продажа цветной бумаги. Инструкции, видеоуроки по сборке модульного оригами">
<meta name="keywords" content="купить модульное оригами, купить трехмерное оригами, купить пазлы, квиллинг, мастер-классы по модульному оригами, поделки из бумаги, закладки для книг, квиллинг+магнит" >

<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>

<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="css/colorbox.css">
<link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="js/layerslider/css/layerslider.css">

<!--CANONICAL
  ------------------------------------------------->
<link rel="canonical" href="http://bumagia.com.ua"/>

<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link type="image/x-icon" href="favicon.ico" rel="icon">

<!-- reCAPTCHA
---------------------------------------------------- -->
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57053855-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

<!-- HEADER & TOP MENU
---------------------------------------------------- -->
<div class="section">
  <div class="container header">
    <div id="menu" class="twelve columns" align="right">
      <nav class="topnav fixed">
        <ul>
          <li><a href="#home" class="active" >К началу</a></li>
          <li><a href="#prod">Продукция</a></li>
          <li><a href="#newitems">Новинки</a></li>
          <li><a href="#learn">Обучение</a></li>
          <li><a href="#sert">Сертификаты</a></li>
          <li><a href="#contacts">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- SLIDER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section">
    <div id = "home" class="container slider"> 
      <!-- QUILMAGNET SLIDER >-->
      <div id="bumagiaslider" style="width:960px; height:410px; margin: 0px auto;">
        <div class="ls-layer">
            <img class="ls-bg" src="images/Slider_BG09.png" alt="Квиллинг+магнит"><img class="ls-s2" style="left: 190px; top: 35px; slidedirection : left; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;" src="images/09_Pack_back.png" alt="Упаковка оборот"><img class="ls-s1" style="left: 30px; top: 0px; slidedirection : left; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;" src="images/09_Pack_face.png" alt="Упаковка лицо"><img class="ls-s3" style="left: 310px; top: 165px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;" src="images/09_Card.png" alt="Магнит">
              <h2 class="ls-s4 wht" style="position: absolute; top:30px; left: 520px; slidedirection : top; slideoutdirection : right; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Квиллинг + магнит</h2>
              <p class="ls-s5 right" style="position: absolute; top:95px; left: 685px; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">
                Оригинальный сувенир<br>или запоминающийся подарок<br>в технике квиллинга<br>на магнитной основе!</p>
              <a class="button button-slider ls-s8" href="products/quilmagnet.html" style="position: absolute; top:325px; left: 740px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutCirc; delayin : 100;">Узнать больше</a>--> </div>
      <!-- PUZZLE SLIDER -->
        <div class="ls-layer"> <img class="ls-bg" src="images/Slider_BG07a.png" alt="Пазлы"> <img class="ls-s2" style="left: 290px; top: 110px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;" src="images/07_puzzle.png" alt="Пазл"> <img class="ls-s1" style="left: 650px; top: 15px; slidedirection : right; slideoutdirection : right; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;" src="images/07_puzzlebox.png" alt="Пазл">
          <h2 class="ls-s3 wht" style="position: absolute; top:30px; left: 45px; slidedirection : top; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Головоломки-пазлы</h2>
          <p class="ls-s4" style="position: absolute; top:95px; left: 45px; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Классическая настольная игра-головоломка<br>
            с оригинальными темами.<br>
            Собери из элеметов фотосюжет<br>
            с представителем<br>
            животного мира!</p>
          <a class="button button-slider ls-s8" href="products/puzzles.html" style="position: absolute; top:325px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutCirc; delayin : 100;">Узнать больше</a> </div>
        <!-- ORIGAMI SLIDER -->
        <div class="ls-layer"> <img class="ls-bg" src="images/Slider_BG01a.png" alt="Модульное оригами"> <img class="ls-s1" style="left: 26px; top: 13px; slidedirection : left; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 800;" src="images/01_swan.png" alt="Модульное оригами лебедь"> <img class="ls-s2" style="left: 285px; top: 152px; slidedirection : left; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 300;" src="images/01_squirrel.png" alt="Модульное оригами белка">
          <h2 class="ls-s3 wht" style="position: absolute; top:30px; left: 510px; slidedirection : top; slideoutdirection : right; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Модульное оригами</h2>
          <p class="ls-s4 right" style="position: absolute; top:95px; left: 660px; slidedirection : bottom; slideoutdirection : right; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Эксклюзивные наборы материалов<br>
            с подробной инструкцией<br>
            для создания объемных фигур<br>
            из бумажных оригами-модулей.</p>
          <a class="button button-slider ls-s8" href="products/modul_origami.html" style="position: absolute; top:325px; left: 745px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutCirc; delayin : 100;">Узнать больше</a> </div>
        <div class="ls-layer"> <img class="ls-bg" src="images/Slider_BG02.png" alt="Квиллинг"> <img class="ls-s3" style="left: 595px; top: 25px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeOutQuint; delayin : 400;" src="images/02_quilling2.png" alt="Наборы для квиллинга"> <img class="ls-s2" style="left: 385px; top: 35px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeOutQuint; delayin : 400;" src="images/02_quilling1.png" alt="Наборы для квиллинга">
          <h2 class="ls-s3 wht" style="position: absolute; top:30px; left: 45px; slidedirection : top; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Квиллинг</h2>
          <p class="ls-s4" style="position: absolute; top:95px; left: 45px; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Коллекция наборов бумажных лент<br>
            для создания работ<br>
            в технике квиллинга,<br>
            украшения открыток и рамок.</p>
          </p>
          <a class="button button-slider ls-s8" href="products/quilling.html" style="position: absolute; top:325px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutCirc; delayin : 100;">Узнать больше</a> </div>
        <!-- 3DQUILLING SLIDER -->
        <div class="ls-layer"> <img class="ls-bg" src="images/Slider_BG08.png" alt="Модульное оригами"> <img class="ls-s2" style="left: 305px; top: 0px; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 800;" src="images/08_3DQuil_panno.png" alt="Объемный квиллинг"> <img class="ls-s2" style="left: 45px; top: 35px; slidedirection : left; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 800;" src="images/08_3DQuil_pack.png" alt="Объемный квиллинг">
          <h2 class="ls-s3 wht right" style="position: absolute; top:30px; right: 45px; slidedirection : top; slideoutdirection : right; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Объемный<br>
            квиллинг</h2>
          <p class="ls-s4 right" style="position: absolute; top:160px; right: 45px; slidedirection : bottom; slideoutdirection : right; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Создайте своими руками<br>
            красочное панно в оригинальной<br>
            технике объемного квиллинга!</p>
          <a class="button button-slider ls-s8" href="products/quilling3d.html" style="position: absolute; top:325px; left: 745px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutCirc; delayin : 100;">Узнать больше</a> </div>
        <div class="ls-layer"> <img class="ls-bg" src="images/Slider_BG03.png" alt="Детское творчество"> <img class="ls-s2" style="left: 518px; top: 80px; slidedirection : bottom; slideoutdirection : right; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;" src="images/03_hens.png" alt="Модульное оригами пасхальные курочки">
          <h2 class="ls-s3 wht" style="position: absolute; top: 30px; left: 45px; slidedirection : top; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Подарите вашему ребенку<br>
            радость творчества!</h2>
          <p class="ls-s4" style="position: absolute; top:315px; left: 45px; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 100;">Модульное оригами, квиллинг и другие совместные занятия<br>
            малышей и их родителей делают семью дружнее, а детей — счастливее!</p>
        </div>
      </div>
    </div>
  </div>

<!-- BANNERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section">
    <div class="container narrowbanner">
      <p>Отличная идея — заглянуть в <a href="{{ catalog_link }}"  target="_blank">наш каталог-2021! </a></p>
    </div>
  </div>
  
<!-- PRODUCTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container products">
    <h1 id="prod">Чем мы можем вас удивить</h1>
    <div class="sliderprods">
      {% for item in menu_data %}
      <div class="proditem center {{ item['css_style_name'] }}"> <a href="products/{{ item['section_name'] }}.html"><img src="images/label_{{ item['icon_name'] }}.png" alt="{{ item['icon_alt_txt'] }}"></a>
        <h4>{{ item['section_title_fl'] }}<br>
          {{ item['section_title_sl'] }}</h4>
        <p>{{ item['product_introtext'] }}</p>
        <a class="button {{ item['css_style_name'] }}" href="products/{{ item['section_name'] }}.html">Узнать больше</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- BANNERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container shopbanner">
    <p>Рады напомнить вам, что все товары<br>ТМ «Бумагія» можно приобрести в нашем<br>интернет-магазине. Приятных покупок!</p>
    <a class="button shopbutton" href="http://www.bumagiy.com" target="new">В магазин</a>
  </div>
</div>

<!-- SHOWROOM {{ product|upper }}
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container showroom">
    <h1 id="newitems">Внимание, новинки!</h1>
    <p class="center">{{ page_data['product_vitrina_text'] }}</p>
    <div class="sliderrow">
        {% for product in product_data %}{% set c_code = (product['code']|string)[9:] %}
      <div class="three columns center item mrg {{ page_data['alias']|lower }}">
        <h6>{{ product['articul'] }}</h6>
        <a class="box" href="images/{{ page_data['section_name'] }}/{{ c_code }}_big.jpg" title="{{ page_data['section_menuitem'] }} {{ product['name_articul'] }}"><img src="images/{{ page_data['section_name'] }}/{{ c_code }}_v.jpg" alt="{{ page_data['section_menuitem'] }} {{ product['name_articul'] }}" title="{{ page_data['section_menuitem'] }} {{ product['name_articul'] }}"></a>
        <p>{{ page_data['product_parameter'] }}</p>
        <h5>{{ product['name'] }}</h5>
        <a class="buybutton" itemprop="url" href="{{ product['buylink'] }}" title="{{ page_data['buylink_title'] }} {{ product['name_articul']}}">В магазин</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- LEARN
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container learn">
    <h1 id="learn">Попробуйте, и у вас получится!</h1>
    <div class="row">
      <div class="one-half column videolessons center">
        <h4>Видеоуроки</h4>
        <p>Лучше один раз увидеть! Именно этим принципом мы руководствовались, создавая серию оригинальных <a href="learn/videolessons.html">видеоуроков</a> по сборке фигур в технике модульного оригами. Важно, что для каждого из них использовались наборы материалов от торговой марки «Бумагія». Это значит, что вам самим под силу создать такой же шедевр, если вы запасётесь всего лишь капелькой терпения.</p>
        <p>Мы верим, что все у вас получится!</p>
        <a class="button lrn" href="learn/videolessons.html">К видеоурокам</a> </div>
      <div class="one-half column videolessons center">
        <h4>Инструкции</h4>
        <p>Как превратить обычные бумажые прямоугольники в волшебные поделки? Нет ничего проще! Для каждого нашего набора мы создали подробные <a href="learn/instructions.html">инструкции</a>, где  описали все шаги создания фигурки. Вам остается только следовать им, и из-под ваших рук появится такое же чудо. Начните с создания базовых модулей, а затем шаг за шагом соединяйте модули по описанной в инструкции схеме.</p>
        <p>Результат вас обязательно удивит!</p>
        <a class="button lrn" href="learn/instructions.html">К инструкциям</a> </div>
    </div>
  </div>
</div>


<!-- SERTIFICATES
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container sertificate center">
    <h1 id="sert">Вся продукция сертифицирована!</h1>
    <div class="row">
      <p>Мы завершили процесс обновления сертификатов для всей нашей продукции. В результате этой долгой и кропотливой работы было подтверждено полное соответствие товаров ТМ «Бумагія» всем требованиям, предъявляемым к изделиям детской группы. Все документы одним файлом (PDF 7,5 MB) доступны для скачивания <a href="docs/sertificates/BUMAGIA_Sertification.pdf">по этой ссылке</a>, а ознакомиться с ними на нашем сайте можно в <a href="sertification.html">этом разделе</a>.</p>
    </div>
    <div class="row">
      <div class="one-half column"> <a class="button sert" href="docs/sertificates/BUMAGIA_Sertification.pdf">Скачать одним файлом</a> </div>
      <div class="one-half columnr"> <a class="button sert" href="sertification.html">Перейти в раздел</a> </div>
    </div>
  </div>
</div>

<!-- CONTACTS 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container contacts">
    <h1 id="contacts">Мы всегда на связи!</h1>
    <div class ="row">
      <div class ="one-half column">
        <h4>Напишите нам!</h4>
        <form id="contact" action="" method="post">
        <input type="hidden" name="page" value="Главная страница">
          <label for="name" id="namelabel">
            <input id="name" type="text" name="name" placeholder="Ваше имя" tabindex="1"/>
          </label>
          <label for="email" id="emaillabel">
            <input id="email" type="text" name="email" placeholder="Почта для ответа" tabindex="2"/>
          </label>
          <label for="message" id="messagelabel">
            <textarea id="message" name="message" placeholder="Сообщение" tabindex="3"></textarea>
          </label>
          </label>
          <div class="g-recaptcha mbt" data-sitekey="6LeaxAQTAAAAACHYQEiG53Rbu39oe9t2oBghkGWO"></div>
          <input type="submit" id="submit" value="Отправить"/>
          <input type="reset" id="reset" value="Очистить" name="reset"/>
          <div id="success"></div>
        </form>
      </div>
      <div class ="one-half column">
        <h4>Контактная информация</h4>
        <h6>ФОП Усольцев К. В.</h6>
        <p>Украина, г. Харьков, пр. Героев Сталинграда, 161а, кв. 11<br>
          тел.: +38 (057) 756-76-76</p>
        <h5>По вопросам закупок обращайтесь:</h5>
        <h6>Шапиро Инна</h6>
        <p>тел.: +38 (057) 756-76-78, +38 (097) 600-31-45, +38 (050) 634-71-83</p>
        <hr class="mbt">
        <span class="copy">&copy; 2015-<span id="year"></span> «Бумагія»</span> </div>
    </div>
  </div>
</div>
<!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!-- LAYSLIDER
  -------------------------------------------------- --> 
<!-- LayerSlider styles --> 

<!-- jQuery with jQuery Easing --> 

<script type="text/javascript" src="js/jQuery/jquery-1.11.2.min.js"></script> 
<script type="text/javascript" src="js/jQuery/jquery-easing-1.3.js"></script> 
<script type="text/javascript" src="js/jQuery/jquery-migrate-1.2.1.min.js"></script> 
<script type="text/javascript" src="js/slick/slick.min.js"></script> 
<script type="text/javascript" src="js/scroll/jquery.scrollTo.min.js "></script>
<script type="text/javascript" src="js/colorbox/jquery.colorbox-min.js"></script> 
<script type="text/javascript" src="js/jQuery/jquery.mousewheel-3.0.6.pack.js"></script> 

<!-- LayerSlider --> 
<script type="text/javascript" src="js/layerslider/layerslider.kreaturamedia.jquery.js"></script> 
<script type="text/javascript">
 
$('document').ready(function(){
	$(bumagiaslider).layerSlider({
	skinsPath : 'js/layerslider/skins/',
	skin : 'fullwidth',
	animateFirstLayer	: false,
	imgPreload			: true,
	navStartStop        : false,
	thumbnailNavigation : 'hover',
	hoverPrevNext		: true,
	responsive			: true,
	responsiveUnder		: 1200,
	thumbnailNavigation : false,
	sublayerContainer	: 1200,
	pauseOnHover		: true,
	globalBGColor 	    : 'white'
	});
});
</script> 

<!-- Colorbox --> 
<script>
	$(document).ready(function(){
		$('.box').colorbox();
	});
</script>  

<!-- Slick --> 
<script type="text/javascript">
$(document).ready(function(){
	$('.sliderprods').slick({
	infinite			: true,
	speed				: 1000,
	autoplaySpeed		: 15000,
	slidesToShow		: 3,
	slidesToScroll		: 1,
	dots				: true,
	autoplay			: true
	});
});
</script> 
<script type="text/javascript">
$(document).ready(function(){
	$('.sliderrow').slick({
	infinite			: true,
	speed				: 1000,
	autoplaySpeed		: 3000,
	slidesToShow		: 4,
	slidesToScroll		: 1,
	dots				: true,
	autoplay			: true
	});
});
</script> 
<script type="text/javascript">
$('#menu a').click(function(){
	$.scrollTo( this.hash , 800, { offset: -80 } );
	return false;
});
</script> 

<!-- Send mail --> 
<script type="text/javascript">
$(document).ready(function(){
    $('#submit').click(function(){
        $('#success').hide(1);
        $.post("email_ajax.php", $("#contact").serialize(), function(response) {
			$('#success').html(response);
			$('#success').show(1000);
			});
        return false;
    });
});
</script> 
<script type="text/javascript">
jQuery(document).ready(function(){
	$(function() {
		$(".topnav ul li a").click(function() {
		$(".topnav ul li a").removeClass("active")			
		$(this).toggleClass("active");
		})
	});
});
</script>
<script>
	//Get the current year
    $('#year').text(new Date().getFullYear());
</script>
</body>
</html>
