<!DOCTYPE html>
<html lang="ru">
<head>

<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>{{ page_data['page_html_title'] }}</title>
<meta name="description" content="{{ page_data['page_html_desc'] }}">
<meta name="keywords" content="{{ page_data['page_html_kw'] }}" >

<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>

<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/skeleton.css">
<link rel="stylesheet" href="../css/custom_dd.css">
<link rel="stylesheet" href="../css/colorbox.css">
<link rel="stylesheet" href="../css/accordion.css">

<!--CANONICAL
  ------------------------------------------------------------------------->
<link rel="canonical" href="http://bumagia.com.ua/products/bookmarks.html"/>

<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link type="image/x-icon" href="../favicon.ico" rel="icon">

<!-- reCAPTCHA
---------------------------------------------------- -->
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57053855-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!-- HEADER & TOP MENU
---------------------------------------------------- -->
<div class="section">
  <div class="container header">
    <div class="twelve columns" align="right">
      <nav class="topnav fixed">
        <ul class="menu">
          <li><a href="../index.html">На главную</a></li>
          <li><a href="#">Продукция</a>
            <ul>{% include 'menu.html' %}
            </ul>
          </li>
          <li><a href="#">Обучение</a>
            <ul>
              <li><a href="../learn/videolessons.html">Видеоуроки</a></li>
              <li><a href="../learn/instructions.html">Инструкции</a></li>
            </ul>
          </li>
          <li><a href="../sertification.html">Сертификаты</a></li>
          <li id="menu"><a href="#contacts">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- SHOWROOM
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container oriprod bookmarkshdr">
    <h1>{{ page_data['section_name_rus'] }}</h1>
    <div class="twelve columns quiltext">
      <p>{{ page_data['page_text'] }}</p>
      </p>
      <div class="acc_wholesale">
        <div class="accordion_in">
          <div class="acc_head">
            <h5>Интересует опт? Нажмите здесь!</h5>
          </div>
          <div class="acc_content">
            <h4>Наборы закладок <span class="red">в оптовой упаковке</span></h4>
            <hr>
            <p>Нашим оптовым покупателям сообщаем, что для них доступны комплекты закладок, упакованные по 12 наборов в прочный полипропиленовый пакет.</p>
            <p>Мы специально позаботились о том, чтобы <strong>первая (видимая покупателю) закладка, была разной</strong> у каждого из отдельных наборов в пакете. Таким образом, привлекательность выкладки наборов на прилавке будет значительтно выше за счет их видимого разнообразия.</p>
            <p>По вопросам оптовых закупок обращайтесь по телефонам:<br><strong>+38 (057) 756-76-78, +38 (097) 600-31-45, +38 (050) 634-71-83</strong> (Шапиро Инна)</h5>
            <div class="row wholesale center">
              <div class="bkm">
                <div class="bkm_wrapper">
                  <div class="veer"><a class="wholesalepacks" href="../images/bookmarks/3905_pack_big.jpg" title="Оптовая упаковка наборов «Животные в технике оригами», 12 упак."><img src="../images/bookmarks/3905_veer.jpg" alt="Оптовая упаковка наборов закладок «Животные в технике оригами», 12 упак."></a></div>
                  <a class="wholesalepacks" href="../images/bookmarks/3905_veer_big.jpg" title="Содержимое упаковки наборов «Животные в технике оригами», 12 упак."><img src="../images/bookmarks/3905_pack.jpg" alt="Содержимое оптовой упаковки наборов закладок «Животные в технике оригами», 12 упак."></a>
                  <h6><span class="red">BM-3905</span><br>«Животные в технике оригами»</h6>
                  <a class="buybutton" itemprop="url" href="http://www.bumagiy.com/products/zakladki-dlya-knig-kartonnye-8-sht-v-nabore-bm-3905-zhivotnye-origami" title="Купить набор закладок для книг «Животные в технике оригами» в розницу и оптом">В магазин</a> </div>
              </div>
              <div class="bkm">
                <div class="bkm_wrapper">
                  <div class="veer"><a class="wholesalepacks" href="../images/bookmarks/3912_pack_big.jpg" title="Оптовая упаковка наборов «Орнаменты», 12 упак."><img src="../images/bookmarks/3912_veer.jpg" alt="Оптовая упаковка наборов закладок «Орнаменты», 12 упак."></a></div>
                  <a class="wholesalepacks" href="../images/bookmarks/3912_veer_big.jpg" title="Содержимое упаковки наборов «Орнаменты», 12 упак."><img src="../images/bookmarks/3912_pack.jpg" alt="Содержимое оптовой упаковки наборов закладок «Орнаменты», 12 упак."></a>
                  <h6><span class="red">BM-3912</span><br>«Орнаменты»</h6>
                  <a class="buybutton" itemprop="url" href="http://www.bumagiy.com/products/zakladki-dlya-knig-kartonnye-8-sht-v-nabore-bm-3912-ornamenty" title="Купить набор закладок для книг «Орнаменты» в розницу и оптом">В магазин</a> </div>
              </div>
              <div class="bkm">
                <div class="bkm_wrapper">
                  <div class="veer"><a class="wholesalepacks" href="../images/bookmarks/4612_pack_big.jpg" title="Оптовая упаковка наборов «Поделки из квиллинга», 12 упак."><img src="../images/bookmarks/4612_veer.jpg" alt="Оптовая упаковка наборов закладок «Поделки из квиллинга», 12 упак."></a></div>
                  <a class="wholesalepacks" href="../images/bookmarks/4612_veer_big.jpg" title="Содержимое упаковки наборов «Поделки из квиллинга», 12 упак."><img src="../images/bookmarks/4612_pack.jpg" alt="Содержимое оптовой упаковки наборов закладок «Поделки из квиллинга», 12 упак."></a>
                  <h6><span class="red">BM-4612</span><br>«Поделки из квиллинга»</h6>
                  <a class="buybutton" itemprop="url" href="http://www.bumagiy.com/products/zakladki-dlya-knig-kartonnye-8-sht-v-nabore-bm-4612-podelki-iz-kvillinga" title="Купить набор закладок для книг «Поделки из квиллинга» в розницу и оптом">В магазин</a> </div>
              </div>
              <div class="bkm">
                <div class="bkm_wrapper">
                  <div class="veer"><a class="wholesalepacks" href="../images/bookmarks/4681_pack_big.jpg" title="Оптовая упаковка наборов «Поп-арт», 12 упак."><img src="../images/bookmarks/4681_veer.jpg" alt="Оптовая упаковка наборов закладок «Поп-арт», 12 упак."></a></div>
                  <a class="wholesalepacks" href="../images/bookmarks/4681_veer_big.jpg" title="Содержимое упаковки наборов «Поп-арт», 12 упак."><img src="../images/bookmarks/4681_pack.jpg" alt="Содержимое оптовой упаковки наборов закладок «Поп-арт», 12 упак."></a>
                  <h6><span class="red">BM-4681</span><br>«Поп-арт»</h6>
                  <a class="buybutton" itemprop="url" href="http://www.bumagiy.com/products/zakladki-dlya-knig-kartonnye-8-sht-v-nabore-bm-4681-pop-art" title="Купить набор закладок для книг «Поп-арт» в розницу и оптом">В магазин</a> </div>
              </div>
            </div>
            <div class="row wholesale center">
              <div class="bkm">
                <div class="bkm_wrapper">
                  <div class="veer"><a class="wholesalepacks" href="../images/bookmarks/4698_pack_big.jpg" title="Оптовая упаковка наборов «Раскраски-антистресс», 12 упак."><img src="../images/bookmarks/4698_veer.jpg" alt="Оптовая упаковка наборов закладок «Раскраски-антистресс», 12 упак."></a></div>
                  <a class="wholesalepacks" href="../images/bookmarks/4698_veer_big.jpg" title="Содержимое упаковки наборов «Раскраски-антистресс», 12 упак."><img src="../images/bookmarks/4698_pack.jpg" alt="Содержимое оптовой упаковки наборов закладок «Раскраски-антистресс»», 12 упак."></a>
                  <h6><span class="red">BM-4698</span><br>«Раскраски-антистресс»</h6>
                  <a class="buybutton" itemprop="url" href="http://www.bumagiy.com/products/zakladki-dlya-knig-kartonnye-8-sht-v-nabore-bm-4698-raskraska-antistress" title="Купить набор закладок для книг «Раскраски-антистресс» в розницу и оптом">В магазин</a> </div>
              </div>
              <div class="bkm">
                <div class="bkm_wrapper">
                  <div class="veer"><a class="wholesalepacks" href="../images/bookmarks/4704_pack_big.jpg" title="Оптовая упаковка наборов «Модные футболки», 12 упак."><img src="../images/bookmarks/4704_veer.jpg" alt="Оптовая упаковка наборов закладок «Модные футболки», 12 упак."></a></div>
                  <a class="wholesalepacks" href="../images/bookmarks/4704_veer_big.jpg" title="Содержимое упаковки наборов «Модные футболки», 12 упак."><img src="../images/bookmarks/4704_pack.jpg" alt="Содержимое оптовой упаковки наборов закладок «Модные футболки», 12 упак."></a>
                  <h6><span class="red">BM-4704</span><br>«Модные футболки»</h6>
                  <a class="buybutton" itemprop="url" href="http://www.bumagiy.com/products/zakladki-dlya-knig-kartonnye-8-sht-v-nabore-bm-4704-modnye-futbolki" title="Купить набор закладок для книг «Модные футболки» в розницу и оптом">В магазин</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% for product in product_data %}<h4>{% if product['new'] == 1 %}<span class="novelty">Новинка!</span>&nbsp;{% endif %}Набор закладок «{{ product['name'] }}» ({{ product['articul'] }}){% set c_code = (product['code']|string)[9:] %}</h4>
      <hr>
      <div class="row bottomspace">
        {% for n in range (1,9,1) %}<a class="{{ c_code }}" href="../images/bookmarks/{{ c_code }}_0{{ n }}_big.{{ product['ext'] }}" title="№ {{ n }}"><img src="../images/bookmarks/{{ c_code }}_0{{ n }}.{{ product['ext'] }}" alt="Закладка {{ n }} из набора закладок для книг «{{ product['name'] }}» ({{ product['articul'] }})"></a>{% endfor %}<a class="{{ c_code }}" href="../images/bookmarks/{{ c_code }}_00_big.{{ product['ext'] }}" title="Оборот"><img src="../images/bookmarks/{{ c_code }}_00.{{ product['ext'] }}" alt="Оборот закладки для книг из набора «{{ product['name'] }}» ({{ product['articul'] }})"></a>
        <a class="buybutton topspace" itemprop="url" href="{{ product['buylink'] }}" title="Купить набор закладок для книг «{{ product['name'] }}» ({{ product['articul'] }}) в розницу и оптом">В магазин</a>
      </div>{% endfor %}
    </div>
  </div>
</div>

<!-- CONTACTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container contacts">
    <h1 id="contacts">Мы всегда на связи!</h1>
    <div class ="row">
      <div class ="one-half column">
        <h4>Напишите нам!</h4>
        <form id="contact" action="" method="post">
        <input type="hidden" name="page" value="Закладки">
          <label for="name" id="namelabel">
            <input id="name" type="text" name="name" placeholder="Ваше имя" tabindex="1"/>
          </label>
          <label for="email" id="emaillabel">
            <input id="email" type="text" name="email" placeholder="Почта для ответа" tabindex="2"/>
          </label>
          <label for="message" id="messagelabel">
            <textarea id="message" name="message" placeholder="Сообщение" tabindex="3"/></textarea>
          </label>
          <div class="g-recaptcha mbt" data-sitekey="6LeaxAQTAAAAACHYQEiG53Rbu39oe9t2oBghkGWO"></div>
          <input type="submit" id="submit" value="Отправить"/>
          <input type="reset" id="reset" value="Очистить" name="reset"/>
          <div id="success"></div>
        </form>
      </div>
      <div class ="one-half column">
        <h4>Контактная информация</h4>
        <h6>ФОП Усольцев К. В.</h6>
        <p>Украина, г. Харьков, пр. Героев Сталинграда, 161а, кв. 11<br>
          тел.: +38 (057) 756-76-76</p>
        <h5>По вопросам закупок обращайтесь:</h5>
        <h6>Шапиро Инна</h6>
        <p>тел.: +38 (057) 756-76-78, +38 (097) 600-31-45, +38 (050) 634-71-83</p>
        <hr class="mbt">
        <span class="copy">&copy; 2015-<span id="year"></span> «Бумагія»</span> </div>
    </div>
  </div>
</div>
<!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!-- jQuery with jQuery Easing --> 

<script type="text/javascript" src="../js/jQuery/jquery-1.11.2.min.js"></script> 
<script type="text/javascript" src="../js/jQuery/jquery-easing-1.3.js"></script> 
<script type="text/javascript" src="../js/jQuery/jquery-migrate-1.2.1.min.js"></script> 
<script type="text/javascript" src="../js/scroll/jquery.scrollTo.min.js"></script> 
<script type="text/javascript" src="../js/colorbox/jquery.colorbox-min.js"></script> 
<script type="text/javascript" src="../js/smk/accordion.min.js"></script> 
<script type="text/javascript" src="../js/jQuery/jquery.mousewheel-3.0.6.pack.js"></script> 

<!-- Colorbox --> 
<script>
	$(document).ready(function(){
		$(".wholesalepacks").colorbox({rel:'wholesalepacks'});
		{% for product in product_data %}$(".{{ (product['code']|string)[9:] }}").colorbox({rel:'{{ (product['code']|string)[9:] }}'});
    {% endfor %}
	});
</script> 

<!-- HoverEffect--> 
<script>
$(document).ready(function(){
	$('.bkm').hover(
		function () {
			$(this).find('.veer').stop().fadeIn(200).animate({left: 0}, 400, 'easeOutQuart');
		},
		function () {
			$(this).find('.veer').stop().animate({left: -200}, 400, 'easeInQuart').fadeOut(200);

		}		
	);
});					
</script> 

<!-- Scroll --> 
<script type="text/javascript">
$('#menu a').click(function(){
	$.scrollTo( this.hash , 900, { offset: -80 } );
	return false;
});
</script> 

<!-- Accordion --> 
<script type="text/javascript">
	jQuery(document).ready(function($){
		$(".acc_wholesale").accordionjs({
		activeIndex: false,	
		});
	});
</script> 

<!-- Send mail --> 
<script type="text/javascript">
$(document).ready(function(){
    $('#submit').click(function(){
        $('#success').hide(1);
        $.post("../email_ajax.php", $("#contact").serialize(), function(response) {
			$('#success').html(response);
			$('#success').show(1000);
			});
        return false;
    });
});
</script> 
<script type="text/javascript">
jQuery(document).ready(function(){
	$(function() {
		$(".topnav ul li a").click(function() {
		$(".topnav ul li a").removeClass("active")			
		$(this).toggleClass("active");
		})
	});
});
</script> 
<script type="text/javascript">
$(document).ready(function(){
	$('.menu > li').bind('mouseover', openSubMenu);
	$('.menu > li').bind('mouseout', closeSubMenu);
	
		function openSubMenu() {
			$(this).find('ul').css('visibility', 'visible');
			$(".topnav ul li a").removeClass("active");			
		};

		function closeSubMenu() {
			$(this).find('ul').css('visibility', 'hidden');
		};
	});
</script>
<script>
	//Get the current year
    $('#year').text(new Date().getFullYear());
</script>
</body>
</html>