<!DOCTYPE html>
<html lang="ru">
<head>

<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>{{ p_data[c_prod]['page_html_title'] }}</title>
<meta name="description" content="{{ p_data[c_prod]['page_html_desc'] }}">
<meta name="keywords" content="{{ p_data[c_prod]['page_html_kw'] }}">

<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>

<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/skeleton.css">
<link rel="stylesheet" href="../css/custom_dd.css">
<link rel="stylesheet" href="../css/colorbox.css">

<!--CANONICAL
  --------------------------------------------------------------------------->
<link rel="canonical" href="http://bumagia.com.ua/products/ecofiller.html"/>

<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link type="image/x-icon" href="../favicon.ico" rel="icon">

<!-- reCAPTCHA
---------------------------------------------------- -->
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57053855-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!-- HEADER & TOP MENU
---------------------------------------------------- -->
<div class="section">
  <div class="container header">
    <div class="twelve columns" align="right">
      <nav class="topnav fixed">
        <ul class="menu">
          <li><a href="../index.html">На главную</a></li>
          <li><a href="#">Продукция</a>
            <ul>{% include 'menu.html' %}
            </ul>
          </li>
          <li><a href="#">Обучение</a>
            <ul>
              <li><a href="../learn/videolessons.html">Видеоуроки</a></li>
              <li><a href="../learn/instructions.html">Инструкции</a></li>
            </ul>
          </li>
          <li><a href="../sertification.html">Сертификаты</a></li>
          <li id="menu"><a href="#contacts">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- SHOWROOM
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container oriprod {{ p_data[c_prod]['alias']|lower }}hdr">
    <h1>{{ p_data[c_prod]['section_name_rus'] }}</h1>
    <div class="twelve columns {{ p_data[c_prod]['alias']|lower }}text">
      <p>{{ p_data[c_prod]['page_text'] }}</p>
      <hr>
    </div>
    <div class="row bottomspace">{% for i in range (i_num) %}
      <div class="{{ p_data[c_prod]['alias']|lower }}">
        <div class="{{ p_data[c_prod]['alias']|lower }}_wrapper">
          <div class="dtl"><a class="{{ p_data[c_prod]['section_name'] }}-CB" href="../images/{{ c_prod }}/{{ articul_list[i] }}_big.jpg" title="{{ p_data[c_prod]['section_name_rus'] }} {{ fullnameandarticul_list[i] }}"><img src="../images/{{ c_prod }}/{{ articul_list[i] }}_pack.jpg" alt="{{ p_data[c_prod]['section_name_rus'] }} {{ fullnameandarticul_list[i] }}" title="{{ p_data[c_prod]['section_name_rus'] }} {{ fullnameandarticul_list[i] }}"></a> </div>
          <h6>{{ full_articul_list[i] }}</h6>
          <img src="../images/{{ c_prod }}/{{ articul_list[i] }}.jpg" alt="{{ p_data[c_prod]['section_name_rus'] }} {{ fullnameandarticul_list[i] }}" title="{{ p_data[c_prod]['section_name_rus'] }} {{ fullnameandarticul_list[i] }}">
          <p>{{ p_data[c_prod]['product_parameter'] }}</p>
          <h5>{{ name_list[i] }}</h5>
          <a class="buybutton" itemprop="url" href="{{ buylink_list[i] }}" title="Купить {{ p_data[c_prod]['section_name_rus']|lower }} {{ fullnameandarticul_list[i] }}">В магазин</a> </div>
      </div>{% endfor %}         
    </div>
  </div>
</div>

<!-- CONTACTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section">
  <div class="container contacts">
    <h1 id="contacts">Мы всегда на связи!</h1>
    <div class ="row">
      <div class ="one-half column">
        <h4>Напишите нам!</h4>
        <form id="contact" action="" method="post">
          <input type="hidden" name="page" value="{{ p_data[c_prod]['section_name_rus'] }}">
          <label for="name" id="namelabel">
            <input id="name" type="text" name="name" placeholder="Ваше имя" tabindex="1"/>
          </label>
          <label for="email" id="emaillabel">
            <input id="email" type="text" name="email" placeholder="Почта для ответа" tabindex="2"/>
          </label>
          <label for="message" id="messagelabel"><textarea id="message" name="message" placeholder="Сообщение" tabindex="3"/></textarea>
          </label>
          <div class="g-recaptcha mbt" data-sitekey="6LeaxAQTAAAAACHYQEiG53Rbu39oe9t2oBghkGWO"></div>
          <input type="submit" id="submit" value="Отправить"/>
          <input type="reset" id="reset" value="Очистить" name="reset"/>
          <div id="success"></div>
        </form>
      </div>
      <div class ="one-half column">
        <h4>Контактная информация</h4>
        <h6>ФОП Усольцев К. В.</h6>
        <p>Украина, г. Харьков, пр. Героев Сталинграда, 161а, кв. 11<br>
          тел.: +38 (057) 756-76-76</p>
        <h5>По вопросам закупок обращайтесь:</h5>
        <h6>Шапиро Инна</h6>
        <p>тел.: +38 (057) 756-76-78, +38 (097) 600-31-45, +38 (050) 634-71-83</p>
        <hr class="mbt">
        <span class="copy">&copy; 2015-<span id="year"></span> «Бумагія»</span>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!-- jQuery with jQuery Easing --> 

<script type="text/javascript" src="../js/jQuery/jquery-1.11.2.min.js"></script> 
<script type="text/javascript" src="../js/jQuery/jquery-easing-1.3.js"></script> 
<script type="text/javascript" src="../js/jQuery/jquery-migrate-1.2.1.min.js"></script> 
<script type="text/javascript" src="../js/scroll/jquery.scrollTo.min.js"></script> 
<script type="text/javascript" src="../js/colorbox/jquery.colorbox-min.js"></script> 

<!-- Colorbox --> 
<script>
$(document).ready(function(){
	$(".{{ p_data[c_prod]['section_name'] }}-CB").colorbox({rel:'{{ p_data[c_prod]['section_name'] }}-CB'});
});
</script> 

<!-- Scroll --> 
<script type="text/javascript">
$('#menu a').click(function(){
	$.scrollTo( this.hash , 2400, { offset: -80 } );
	return false;
});
</script> 

<!-- HoverEffect--> 
<script>
$(document).ready(function(){
	$('.{{ p_data[c_prod]['alias']|lower }}').hover(
		function () {
			$(this).find('.dtl').stop().fadeIn(200).animate({left: 0}, 400, 'easeOutQuart');
		},
		function () {
			$(this).find('.dtl').stop().animate({left: -210}, 400, 'easeInQuart').fadeOut(200);
		}		
	);
});					
</script> 

<!-- Send mail --> 
<script type="text/javascript">
$(document).ready(function(){
    $('#submit').click(function(){
        $('#success').hide(1);
        $.post("../email_ajax.php", $("#contact").serialize(), function(response) {
			$('#success').html(response);
			$('#success').show(1000);
			});
        return false;
    });
});
</script> 
<script type="text/javascript">
jQuery(document).ready(function(){
	$(function() {
		$(".topnav ul li a").click(function() {
		$(".topnav ul li a").removeClass("active")			
		$(this).toggleClass("active");
		})
	});
});
</script> 
<script type="text/javascript">
$(document).ready(function(){
	$('.menu > li').bind('mouseover', openSubMenu);
	$('.menu > li').bind('mouseout', closeSubMenu);
	
		function openSubMenu() {
			$(this).find('ul').css('visibility', 'visible');
			$(".topnav ul li a").removeClass("active");			
		};

		function closeSubMenu() {
			$(this).find('ul').css('visibility', 'hidden');
		};
	});
</script>
<script>
	//Get the current year
    $('#year').text(new Date().getFullYear());
</script>
</body>
</html>